@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid red; */
  font-family: 'Roboto', Arial, Helvetica, sans-serif ;
}

.article {
  min-height: 100vh;
  height: fit-content;
  position: relative;
  overflow: hidden;
}

.header {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
}

#page-container {
  position: relative;
  min-height: 100%;
  }


.footer{
  position: absolute;
  bottom: 0;
  }

.TempText{
  font-size:40px;
}

.LocationText{
  font-size:22px;
}

.SubtitleText{
  font-size:16px;
}

.ParagraphText{
  font-size:14px;
}

@media only screen and (min-width: 40em) {
  .TempText{ font-size:43px;}
  .LocationText{ font-size:25px;}
  .SubtitleText{ font-size:18px;}
  .ParagraphText{ font-size:15px;}
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
  .TempText{ font-size: 45px;}
  .LocationText{ font-size: 25px;}
  .SubtitleText{ font-size: 18px;}
  .ParagraphText{ font-size: 15px;}
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
  .TempText{ font-size: 45px;}
  .LocationText{ font-size: 28px;}
  .SubtitleText{ font-size: 19px;}
  .ParagraphText{ font-size: 17px;}
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
  .TempText{ font-size: 50px}
  .LocationText{ font-size: 30px}
  .SubtitleText{ font-size: 20px}
  .ParagraphText{ font-size: 17px}
}
